<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Page1</title>
	
	<link th:href="@{/style/HeaderStyle.css}" rel="stylesheet">
	
	<style>
		.gameScreen
		{
			padding-top: 75px; /* ヘッダーの高さ分の余白を追加 */
		}

	    canvas 
		{
	       	padding: 0;
	      	background: dimgray;
	      	display: block;
	     	margin: 0 auto;
	    }
		
		/* マウス座標表示用のスタイル */
		.mousePos
		{
		    top: 10px;
		    left: 10px;
		    font-size: 16px;
		    color: #000;
		}
	</style>
	
</head>

<body>
	<div th:insert="MenuHeader :: header">
	</div>
	
	<div class = "gameScreen">
		<canvas id="myCanvas" width="480" height="320"></canvas>
				
		<button type="button" id="button">ゲーム開始</button><br>
		
		<!-- フォーム部分 -->
		<form id="scoreForm" th:action="@{/result}" method="post" th:object="${scoreData}">			
			<!-- score フィールドに対応する hidden フィールド -->
			<input type="hidden" th:field="*{score}" id="score" value="0"/>
			SCORE: <span id="scoreDisplay">0</span>
		</form>
		
		<!-- 座標表示用のdiv -->
		<div class="mousePos" id="mousePos">X: 0, Y: 0</div>
		
		<div>☆ランキング☆</div>
		<table th:if="${allUserRankingData}" border ="1">
			<thead>
				<tr>
					<th>順位</th>
					<th>スコア</th>
					<th>なまえ</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="data: ${allUserRankingData}">
					<td th:text="${data.rank}">順位</td>
					<td th:text="${data.score}">スコア</td>
					<td th:text="${data.username}">なまえ</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
	<script th:inline="javascript">
				
		// 矩形
		class Rect 
		{
			// コンストラクタ
			constructor(x = 0, y = 0, w = 0, h = 0) 
			{
				this.pos = new Vector2(x, y);
				this.w = w;
				this.h = h;
			}
		}
		
		// 矩形
		class Circle 
		{
			// コンストラクタ
			constructor(x = 0, y = 0, vec = new Vector2(2,-2), radius = 4) 
			{
				this.pos = new Vector2(x, y);
				this.vec = vec;
				this.radius = radius;
			}
		}
		
		// 矩形
		class Paddle
		{
			// コンストラクタ
			constructor(x = 0, y = 0, w = 0, h = 0, speed = 0) 
			{
				this.rect = new Rect(x, y, w, h);
				this.speed = 0;
			}
			
			setSpeed(val)
			{
				this.speed = val;
			}
		}
		
		// x成分とy成分を持つ2次元ベクトル
		// https://qiita.com/Nekonecode/items/523a9e7214082129935e を参考に作成
		class Vector2 
		{
			// コンストラクタ
			constructor(x = 0, y = 0) 
			{
				this.x = x;
			    this.y = y;
			}
			
			// xとyをセットする
			set(x, y) 
			{
			    this.x = x;
			    this.y = y;
			    return this;
			}
			
			// 足し算
			add(v) 
			{
			  	this.x += v.x;
			  	this.y += v.y;
			  	return this;
			}
			
			// 引き算
			sub(v) 
			{
			  	this.x -= v.x;
			  	this.y -= v.y;
			  	return this;
			}
			
			// ベクトルの複製
			clone() 
			{
			  	return new Vector2(this.x, this.y);
			}
			
			// ベクトルの実数倍
			times(num) 
			{
			  	this.x *= num;
			  	this.y *= num;
			  	return this;
			}
			
			// 逆ベクトル
			get inverse() 
			{
			  	return this.clone().times(-1);
			}
			
			// ベクトルの大きさ
			get magnitude() 
			{
			  	const { x, y } = this;
			  	return Math.sqrt(this.x**2 + this.y**2);
			}
			
			// 正規化
			get normalized() 
			{
				const { x, y, magnitude } = this;
				return new Vector2(x / magnitude, y / magnitude);
			}
			
			static add(v1, v2) 
			{
			  	return v1.clone().add(v2);
			}
			
			// static ベクトルの引き算
			static sub(v1, v2) 
			{
			  	return v1.clone().sub(v2);
			}
			
			// ２点の距離
			static distance(v1, v2) 
			{
			  	return Vector2.sub(v1, v2).magnitude;
			}
			
			static get zero() 
			{
			  	return new Vector2(0,0);
			}

			static get one() 
			{
			  	return new Vector2(1, 1);
			}
			
			static get right() 
			{
			  	return new Vector2(1, 0);
			}
			
			// ベクトル内積
			static dot(v1, v2) 
			{
			  	return (v1.x * v2.x + v1.y * v2.y);
			}
			
			// ベクトル外積
			static cross(v1, v2) 
			{
			  	return (v1.x * v2.y - v1.y * v2.x);
			}

			// ２つのベクトルABのなす角度θを求める
			// http://www.sousakuba.com/Programming/gs_two_vector_angle.html を参考
			static degOf2Vector(v1)
			{
				// ※ベクトルの長さが0だと答えが出ない

				// ベクトルAとBの長さを計算する
				var length_base = Vector2.right.magnitude;
				var length_v1 = v1.magnitude;

				// 内積とベクトル長さを使ってcosθを求める
				var cos_sita = Vector2.dot(Vector2.right, v1) / ( length_base * length_v1 );

				// cosθからθを求める
				var sita = Math.acos( cos_sita );

				// ラジアンからディグリー変換
				sita = sita * 180.0 / Math.PI;
				
				// 360度に変換
				sita = Vector2.right.y < v1.y ? 360 - sita : sita;

				return sita;
			}
			
			// 角度からベクトル
			static vec2OfDeg(deg)
			{
				var rad = deg * (Math.PI /180)
				return new Vector2(Math.cos(rad), Math.sin(rad))
			}
			
			// ゼロベクトルのチェック
			static isZeroVector(v) 
			{
			    return v.x === 0 && v.y === 0;
			}

			// ベクトル引き算
			static safeSubtract(v1, v2) 
			{
			    const result = Vector2.sub(v1, v2);
			    if (Vector2.isZeroVector(result)) 
				{
			        console.log("Zero vector detected between points:", v1, v2);
			    }
			    return result;
			}

			// ベクトル外積
			static safeCross(v1, v2) 
			{
			    if (isZeroVector(v1) || isZeroVector(v2)) 
				{
			        console.log("Zero vector detected in cross product:", v1, v2);
			        return 0; // 外積はゼロにする
			    }
			    return Vector2.cross(v1, v2);
			}

		}
		
		// x成分とy成分を持つ2次元ベクトル
		// https://qiita.com/Nekonecode/items/523a9e7214082129935e を参考に作成
		class GameLoop 
		{
			// コンストラクタ
			constructor(func) 
			{
				this.function = setInterval(func, 10);
			}
			
			// クリア
			gameClear()
			{
				alert("GAME CLEAR");
				clearInterval(this.function); 	// ゲームの更新を停止
				
				// フォームを送信（ページ遷移する）
				var form = document.getElementById("scoreForm");
				form.submit();
			}
			
			// ゲームオーバー時の処理で停止するように変更
			gameOver() 
			{
				alert("GAME OVER");
				clearInterval(this.function); 	// ゲームの更新を停止
				
				// フォームを送信（ページ遷移する）
				var form = document.getElementById("scoreForm");
				form.submit();
			}
			
			clearFunction()
			{
				clearInterval(this.function);
			}
		}

		// キャンバス		
		const canvas = document.getElementById("myCanvas");
		const ctx = canvas.getContext("2d");		
		// パドル
		var paddle = null;
		// 円の情報を管理するリスト
		var circleInfoList = new Array();
		// 障害物情報を管理するリスト
		var obstacleList = new Array();

		// ボタン情報
		const button = document.getElementById('button');
		// ゲームループ
		var functionLoop = null;
		// ブロック破壊数
		var blockBreakNum = 0;
		
		// パドル生成
		function createPaddle(x, y)
		{
			var width = 64;
			var height = 8;
			var offsetY = 16;
			paddle = new Paddle(x - (width / 2), y - (height / 2) - offsetY, width, height);			
		}
		
		// 円生成
		function createCircle(x, y)
		{
			var circle = new Circle(x,y);
			circleInfoList.push(circle);
		}
		
		// 円生成
		function createCircleCenter()
		{
			const x = canvas.width / 2; 	// キャンバスの中央X座標
			const y = canvas.height / 2; 	// キャンバスの中央Y座標
			const speed = 3;
			
			var rate = Math.floor( Math.random() * 4 );
			var randomDeg = 45 + (rate * 90);
			var vec = Vector2.vec2OfDeg(randomDeg);	
			vec.normalized;
			vec.times(speed);
			
			var circle = new Circle(x,y,vec);
			circleInfoList.push(circle);
		}
		
		// 円生成
		function createDebugCircle(x, y)
		{
			var circle = new Circle(x,y, new Vector2(1,-1), 20);
			// 障害物とのヒットチェック
			for (var j = 0; j < obstacleList.length; j++)
			{
				var hit = chkCollison(obstacleList[j], circle);
				if(hit)
				{
					console.log("ヒット");
				}
			}
			circleInfoList.push(circle);
		}
		
		// 障害物生成デバッグ用
		function createDebugObstacle(x, y, w, h)
		{
			// スケーリングと中心合わせ
			var rect = new Rect(x, y, w, h);
			obstacleList.push(rect);
		}
		
		// 障害物生成
		function createObstacle()
		{
			const centerX = canvas.width / 2; 	// キャンバスの中央X座標
			const rectWidthNum = 12;			// 矩形の横の数
			const rectHeightNum = 6;			// 矩形の縦の数
			const rectSpace = 8;				// 矩形の間隔
			const rectSize = 8;					// 矩形の大きさ
			const rectWidth = 24;				// 矩形の大きさ
			const rectHeight = 8;				// 矩形の大きさ
			
			var width = rectWidth * rectWidthNum + (rectSpace * (rectWidthNum - 1));
			
			for(var j = 0; j < rectHeightNum; j++)
			{
				var posX = centerX - (width / 2);
				var posY = (rectHeight + rectSpace) * j;
				
				// パラメトリック方程式に基づいてX, Yを計算
				for (var i = 0; i < rectWidthNum; i++)
				{
					// スケーリングと中心合わせ
					var rect = new Rect(posX, posY, rectWidth, rectHeight);
					posX += rectWidth + rectSpace;
					obstacleList.push(rect);
				}
			}
		}
		
		// 障害物生成（ハート型に配置）
		function createObstacleHeart()
		{
			const centerX = canvas.width / 2; 	// キャンバスの中央X座標
			const centerY = canvas.height / 2; 	// キャンバスの中央Y座標
			const scale = 5; 					// ハート型の大きさを調整
			const rate = 0.2;					// 間隔( 0～1.0 の間で指定 )
			
			// パラメトリック方程式に基づいてX, Yを計算
			for (let t = 0; t <= Math.PI * 2; t += rate) 
			{
			    const x = 16 * Math.pow(Math.sin(t), 3);
			    const y = 13 * Math.cos(t) - 5 * Math.cos(2 * t) - 2 * Math.cos(3 * t) - Math.cos(4 * t);
			    // スケーリングと中心合わせ
				var rect = new Rect(centerX + x * scale, centerY - y * scale, 8, 8);
				obstacleList.push(rect);
			}
		}
		
		// スコアデータ
		var scoreData = /*[[${scoreData}]]*/ 0;
		
		// スコア
		function getScore()
		{
			return scoreData.score;
		}
				
		//　スコア加算
		function addScore(val, rate)
		{
			scoreData.score += (val * rate);
			document.getElementById("score").value = scoreData.score;
			document.getElementById("scoreDisplay").textContent = scoreData.score;
		}

		// 初期化
		function initialize() 
		{
			var center = new Vector2(canvas.width / 2 , canvas.height / 2);
						
			createPaddle(center.x, canvas.height);
			
			createObstacleHeart();
			
			createObstacle();
			
			createCircleCenter();
		}
				
		// ページ読み込み時にヘッダーの高さを取得して、bodyにpadding-topを動的に設定
		// offsetHeight を使って要素の高さを取得しているため、ボーダーやパディングなども考慮されるらしい。
		window.onload = function()
		{
			var headerHeight = document.querySelector('.HeaderMenuBackGround').offsetHeight;
			var gameScreenElement = document.querySelector('.gameScreen');
			// logininfoクラスのpadding-topを設定
			if (gameScreenElement) 
			{
				gameScreenElement.style.paddingTop = headerHeight + "px";
			}
			
			initialize();
		}

		// キャンバス内でマウスを動かした時のイベント
		canvas.addEventListener('mousemove', (event) => 
		{
		  	var rect = event.target.getBoundingClientRect();
		  	var x = event.clientX - rect.left;
		  	var y = event.clientY - rect.top;
			
			// マウス座標
			const mousePos = document.getElementById("mousePos");
			// 座標を画面上に表示
			mousePos.textContent = `X: ${x}, Y: ${y}`;
		});
		
		// キャンバス内でマウスをクリックした時のイベント
		canvas.addEventListener('click', function(event) 
		{
			var rect = event.target.getBoundingClientRect();
			var x = event.clientX - rect.left;
			var y = event.clientY - rect.top;			
			createCircle(x, y);
		});
		
		// キーボード操作（キーが押下されたとき・離されたとき）
		document.addEventListener("keydown", keyDownHandler, false);
		document.addEventListener("keyup", keyUpHandler, false);
		
		// ボタンをマウスをクリックした時のイベント
		button.addEventListener('click', function(event) 
		{			
			if(functionLoop != null)
			{
				console.log("ゲームループ終了");
				functionLoop.clearFunction();
				functionLoop = null;
			}
			
			console.log("ゲームループ開始");
			functionLoop = new GameLoop(gameLoop);
		});
		
		// キーが押下されたとき
		function keyDownHandler(event) 
		{
			var speed = 4;
			
		  	if (event.key === "Right" || event.key === "ArrowRight") 
			{
				paddle.setSpeed(speed);
		  	}
			else if (event.key === "Left" || event.key === "ArrowLeft") 
			{
				paddle.setSpeed(-speed);
		  	}
		}

		// キーが離されたとき
		function keyUpHandler(event)
		{
		  	if (event.key === "Right" || event.key === "ArrowRight") 
			{
				paddle.setSpeed(0);
		  	} 
			else if (event.key === "Left" || event.key === "ArrowLeft") 
			{
				paddle.setSpeed(0);
		  	}
		}
		
		// 範囲内かチェック
		// https://www.nekonecode.com/math-lab/pages/collision2/point-and-box を参考
		function pointInCheck(rect, point)
		{
			// 矩形の４点算出　(左上：Ｐ１ 右上：Ｐ２ 右下：Ｐ３ 左下：Ｐ４)
			var p1 = new Vector2(rect.pos.x, rect.pos.y);
			var p2 = new Vector2(rect.pos.x + rect.w ,rect.pos.y);
			var p3 = new Vector2(rect.pos.x + rect.w ,rect.pos.y + rect.h);
			var p4 = new Vector2(rect.pos.x, rect.pos.y + rect.h);
			
			// 矩形の各辺のベクトル
			var vec1to2 = Vector2.sub(p2, p1);
			var vec2to3 = Vector2.sub(p3, p2);
			var vec3to4 = Vector2.sub(p4, p3);
			var vec4to1 = Vector2.sub(p1, p4);
					
			// 矩形の4点からポイントに対するベクトル
			var vec1toPoint = Vector2.sub(point, p1);
			var vec2toPoint = Vector2.sub(point, p2);
			var vec3toPoint = Vector2.sub(point, p3);
			var vec4toPoint = Vector2.sub(point, p4);
			
			const datas = 
			[
				{v1: vec1to2, v2: vec1toPoint},
				{v1: vec2to3, v2: vec2toPoint},
				{v1: vec3to4, v2: vec3toPoint},
				{v1: vec4to1, v2: vec4toPoint},
			];
			
			// チェック(外積の結果が０以上の物は矩形の各線分ベクトルの内側判定)
			for(const data of datas)
			{
				var cross = Vector2.cross(data.v1, data.v2);
				if (0 >= cross) return false;
			}

			return true;
		}

		// 衝突チェック
		function chkCollison(rect, circle)
		{
			// 矩形の中心座標
			var pos1 = new Vector2(rect.pos.x + rect.w / 2, rect.pos.y + rect.h / 2);
			// 目標までのベクトル
			var targetVec = Vector2.sub(pos1, circle.pos);
			// 正規化 & ベクトルを半径分大きくする
			var circleFromCenterToEdgeVec = targetVec.normalized.times(circle.radius);
			// チェック座標
			var edgePos = Vector2.add(circle.pos, circleFromCenterToEdgeVec);
			// 衝突チェック
			return pointInCheck(rect, edgePos);
		}
				
		// 円と障害物の衝突判定
		function hitCircleToPaddle(circle)
		{
			var hit = chkCollison(paddle.rect, circle);
			if (hit === true)
			{	
				circle.vec.y = -circle.vec.y;
				circle.pos.y = paddle.rect.pos.y - circle.radius;
			}
		}
		
		// 円と障害物の衝突判定
		function hitCircleToObject(circle)
		{
			// 障害物とのヒットチェック
			for(var j = 0; j < obstacleList.length; j++)
			{					
				var hit = chkCollison(obstacleList[j], circle);
								
				if (hit === true)
				{
					// 中心座標
					var center = new Vector2(obstacleList[j].pos.x + obstacleList[j].w / 2, obstacleList[j].pos.y + obstacleList[j].h / 2);
					var targetVec = Vector2.sub(center, circle.pos);
					var targetdeg = Vector2.degOf2Vector(targetVec);
									
					var obstacleLeftDownPos = new Vector2(obstacleList[j].pos.x,  obstacleList[j].pos.y + obstacleList[j].h);
					var vec = Vector2.sub(center, obstacleLeftDownPos);
					var deg = Vector2.degOf2Vector(vec);

					// 上下衝突
					if((targetdeg > deg && targetdeg < 180 - deg) || (targetdeg < 360 - deg && targetdeg > 180 + deg))
					{
						circle.vec.y = -circle.vec.y;
										
						// 位置の補正
						if(targetVec.y < 0)
						{
							circle.pos.y = center.y + (obstacleList[j].h / 2) + circle.radius;
						}
						else
						{
							circle.pos.y = center.y - (obstacleList[j].h / 2) - circle.radius;
						}
					}
					// 左右衝突
					else 
					{
						circle.vec.x = -circle.vec.x;
										
						// 位置の補正
						if(targetVec.x > 0)
						{
							circle.pos.x = center.x - (obstacleList[j].w / 2) - circle.radius;
						}
						else
						{
							circle.pos.x = center.x + (obstacleList[j].w / 2) + circle.radius;
						}
					}
					
					// 障害物を消す
					obstacleList.splice( j, 1 );
					return true;
				}
			}
			return false;
		}
	
		// 更新
		function update()
		{	
			// 座標更新
			for (var i = 0; i < circleInfoList.length; i++) 
			{
				// 座標更新
				circleInfoList[i].pos.x += circleInfoList[i].vec.x;
				circleInfoList[i].pos.y += circleInfoList[i].vec.y;
				
				// 円が壁に当たると反転する
			  	if (circleInfoList[i].pos.x > canvas.width - circleInfoList[i].radius || circleInfoList[i].pos.x < circleInfoList[i].radius) 
				{
					circleInfoList[i].vec.x = -circleInfoList[i].vec.x;
				}
				// 円が壁に当たると反転する
				if (circleInfoList[i].pos.y + circleInfoList[i].vec.y < circleInfoList[i].radius) 
				{
					circleInfoList[i].vec.y = -circleInfoList[i].vec.y;
				}
				
				// 円とパドルの衝突判定
				hitCircleToPaddle(circleInfoList[i]);
				
				// 円と障害物の衝突判定
				if(hitCircleToObject(circleInfoList[i]))
				{
					blockBreakNum++;
					// スコアが一定量を超えた
					if(blockBreakNum % 10 === 0)
					{
						createCircleCenter();
					}
					addScore(10, circleInfoList.length);
				}
				
				// 円が地面にぶつかると消滅(リストから要素を消す)
				if (circleInfoList[i].pos.y > canvas.height - circleInfoList[i].radius) 
				{
					circleInfoList.splice( i, 1 );
				}
				
				// スコア加算
				
				// 全ての円が消滅したら
				if(circleInfoList.length === 0)
				{
					functionLoop.gameOver();
				}
			}
			
			// ゲームクリア
			if(obstacleList.length === 0)
			{
				functionLoop.gameClear();
			}
								
			// パドルの左右移動
			paddle.rect.pos.x = Math.min(paddle.rect.pos.x + paddle.speed, canvas.width - paddle.rect.w);
			paddle.rect.pos.x = Math.max(paddle.rect.pos.x + paddle.speed, 0);
		}
		
		// パドル描画
		function drawPaddle() 
		{
		  	ctx.beginPath();
		  	ctx.rect(paddle.rect.pos.x, paddle.rect.pos.y, paddle.rect.w, paddle.rect.h);
		  	ctx.fillStyle = "#0095DD";
		  	ctx.fill();
		  	ctx.closePath();
		}
		
		// ボール描画
		function drawCircle() 
		{			
			// 円を生成
			for (var i = 0; i < circleInfoList.length; i++) 
			{
		  		ctx.beginPath();
		  		ctx.arc(circleInfoList[i].pos.x, circleInfoList[i].pos.y, circleInfoList[i].radius , 0, Math.PI * 2);
			  	ctx.fillStyle = "#0095DD";
			  	ctx.fill();
			  	ctx.closePath();
			}
		}
				
		// 障害物描画
		function drawObstacle() 
		{
			for (var i = 0; i < obstacleList.length; i++) 
			{
		  		ctx.beginPath();
		  		ctx.rect(obstacleList[i].pos.x, obstacleList[i].pos.y, obstacleList[i].w, obstacleList[i].h);
			  	ctx.fillStyle = "#ff0000";
			  	ctx.fill();
			  	ctx.closePath();
			}
		}
		
		// 描画コード
		function draw() 
		{
			// キャンバス内の領域にある内容全てを消去
			ctx.clearRect(0, 0, canvas.width, canvas.height);
		
			// 障害物描画
			drawObstacle();

			// 円生成
			drawCircle();
			
			// パドル描画
			drawPaddle();
		}
		
		// ゲームループ(ゲーム開始ボタンが押されると呼びだし)
		function gameLoop()
		{
			update();
			draw();
		}

	</script>
	
</body>

</html>