<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Ranking</title>
	
	<link th:href="@{/style/HeaderStyle.css}" rel="stylesheet">
	
	<style>
		.ranking
		{
	  		padding-top: 75px; /* ヘッダーの高さ分の余白を追加 */
		}
		
	</style>
</head>

<body>
	<div th:insert="MenuHeader :: header"></div>
	
	<div class="ranking">	

		<div>☆ランキング☆</div>
		
		<table th:if="${allUserRankingData}" border ="1">
			<thead>
				<tr>
					<th>スコア</th>
					<th>なまえ</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="data: ${allUserRankingData}">
					<td th:text="${data.score}">スコア</td>
					<td th:text="${data.username}">なまえ</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</body>
	
<script>
	
	// ページ読み込み時にヘッダーの高さを取得して、bodyにpadding-topを動的に設定
	// offsetHeight を使って要素の高さを取得しているため、ボーダーやパディングなども考慮されるらしい。
	window.onload = function()
	{
		var headerHeight = document.querySelector('.HeaderMenuBackGround').offsetHeight;
		var gameScreenElement = document.querySelector('.ranking');
		// logininfoクラスのpadding-topを設定
		if (gameScreenElement) 
		{
			gameScreenElement.style.paddingTop = headerHeight + "px";
		}
	}
	
</script>

</html>